<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jforeach.mazegame"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Menu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <activity android:name=".Game"></activity>
		<activity
             android:name="com.shephertz.app42leaderboard.LaunchActivity"
             android:theme="@android:style/Theme.NoTitleBar"
			 android:configChanges="orientation" >
         </activity>
 		<activity
             android:name="com.shephertz.app42leaderboard.LeaderBoardActivity"
             android:theme="@android:style/Theme.NoTitleBar"
			 android:configChanges="orientation" >
         </activity>       
		<activity
             android:name="com.shephertz.app42leaderboard.FriendsActivity"
             android:theme="@android:style/Theme.NoTitleBar"
			 android:configChanges="orientation" >
         </activity>   
		<activity
             android:name="com.shephertz.app42leaderboard.PostGamePlayActivity"
             android:theme="@android:style/Theme.NoTitleBar"
			 android:configChanges="orientation" >
         </activity>	 
		<activity
             android:name="com.shephertz.app42leaderboard.WallActivity"
             android:theme="@android:style/Theme.NoTitleBar"
			 android:configChanges="orientation" >
         </activity>            
	</application>
</manifest> 